#container {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    margin: auto;
    align-content: flex-start;
    border: 5px black solid;
    
}


.cube{
    background-color: white;
    border: 1px;
    width: calc(800px/17);
    height: calc(800px/16.65);
    border-color: black;
    border-style: solid;
    flex-grow: 1;  
}


 
  