div{
    display: flex;
}

#container {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    margin-left: auto;
    align-content: flex-start;
    border: 5px black solid;
    
}

#newCanvas{
    flex-grow: 0;
    height: 50px;
    width: 90px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
}

.cube{
    background-color: white;
    border: 1px;
    width: calc(800px/17);
    height: calc(800px/16.65);
    border-color: black;
    border-style: solid;
    flex-grow: 1;  
}



 
  