#container {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    margin: auto;
    align-content: flex-start;
    border: 5px black solid;
    padding-top: 10%;
}


.cube{
    background-color: white;
    outline: 5px;
    width: 3%;/*25px*/
    height: 3%;
    border-color: black;
    border-style: solid;
    
}

#container>.cube:nth-child(16n + 1) {
    
    margin-left: 20%;
  }

 
  